extends layout

block content

  h1= title

  p Welcome to #{title}

  p Math.pow() is applied to #{num1} is #{pow}

  p Math.sign() is applied to #{num1} is #{sign}

  p Math.tanh() is applied to #{num1} is #{tanh}

  p Math.trunc() is applied to #{num1} is #{trunc}